@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

/* Onest */
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Gotham Pro */
@font-face {
    font-family: "Gotham Pro";
    src: url("/fonts/GothamPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #0f0f0f;
}
