@import "../../node_modules/tailwindcss/dist/lib.d.mts";

@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

/* Onest */
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Gotham Pro */
@font-face {
    font-family: "Gotham Pro";
    src: url("/fonts/GothamPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sf: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-onest: "Onest", system-ui, sans-serif;
    --font-gotham: "Gotham Pro", sans-serif;

    --color-primary: #0f0f0f;

    --gradient-primary: linear-gradient(90deg, #cbc3fc, #8c3cdd);

}