@import "tailwindcss";

@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SFPro-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

/* Onest */
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Onest";
    src: url("/fonts/Onest-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Gotham Pro */
@font-face {
    font-family: "Gotham Pro";
    src: url("/fonts/GothamPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@theme {
    --font-sf: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-onest: "Onest", system-ui, sans-serif;
    --font-gotham: "Gotham Pro", sans-serif;

    --color-primary: #0f0f0f;

}



@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }
}


@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@utility animate-gradient-x {
    animation: gradient-x 5s linear infinite;
}


button:hover {
    @apply cursor-pointer;
}

.button-gradient {
    @apply font-onest text-transparent bg-clip-text
    bg-gradient-to-r from-[#cbc3fc] to-[#8c3cdd]
    bg-[length:200%_200%] animate-gradient-x
    transition-all ease-in-out duration-500;
}

.button-gradient-hover {
    @apply text-black transition-colors duration-500 ease-in-out;
}

.button-gradient-hover:hover {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#8c3cdd] via-[#cbc3fc] to-[#8c3cdd]
    bg-[length:200%_200%] animate-gradient-x;
}

