@import "tailwindcss";

/*@font-face {*/
/*    font-family: "SF Pro";*/
/*    src: url("/fonts/SFPro-Regular.woff2") format("woff2");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: "SF Pro";*/
/*    src: url("/fonts/SFPro-Medium.woff2") format("woff2");*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/
/*@font-face {*/
/*    font-family: "SF Pro";*/
/*    src: url("/fonts/SFPro-Bold.woff2") format("woff2");*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/
/*@font-face {*/
/*    font-family: "SF Pro";*/
/*    src: url("/fonts/SFPro-Semibold.woff2") format("woff2");*/
/*    font-weight: 600;*/
/*    font-display: swap;*/
/*    font-style: normal;*/
/*}*/

/*!* Onest *!*/
/*@font-face {*/
/*    font-family: "Onest";*/
/*    src: url("/fonts/Onest-Regular.woff2") format("woff2");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/
/*@font-face {*/
/*    font-family: "Onest";*/
/*    src: url("/fonts/Onest-Medium.woff2") format("woff2");*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*!* Gotham Pro *!*/
/*@font-face {*/
/*    font-family: "Gotham Pro";*/
/*    src: url("/fonts/GothamPro-Regular.woff2") format("woff2");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


@theme {
    /*--font-sf: "SF Pro", sans-serif;*/
    /*--font-onest: "Onest", sans-serif;*/
    /*--font-gotham: "Gotham Pro", sans-serif;*/

    --color-primary: #0f0f0f;

    --text-gray-500: #1f1f1f;
    --text-gray-300: #a5a5a5;
    --text-gray-400: #575757;
    --bg-black: #0f0f0f;
    --text-color-black: #0f0f0f;
    --bg-gray: #f8f8f8;
    --bg-gray-dop: #1f1f1f;
    --red-color:#FF6B6B;

}
:root {
    --font-onest: 'Onest', sans-serif;
}

.font-onest {
    font-family: var(--font-onest);
}

@utility text-color-primary {
    color: var(--text-gray-500);
}

@utility text-color-dop {
    color: var(--text-gray-300);
}

@utility text-color-second {
    color: var(--text-gray-400);
}
@utility text-color-black {
    color: var(--text-color-black);
}

@utility bg-color-black {
    background-color: var(--bg-black);
}

@utility bg-color-gray {
    background-color: var(--bg-gray);
}
@utility bg-color-gray-dop {
    background-color: var(--bg-gray-dop);
}
@utility bg-color-red{
    background-color: var(--red-color);
}

@utility text-color-red{
    color: var(--red-color);
}



@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }
}


@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@utility animate-gradient-x {
    animation: gradient-x 5s linear infinite;
}

input,
textarea {
    outline: none !important;
}


input:-internal-autofill-selected,
input:autofill {
    background-color: inherit !important;
    color: inherit !important;
}


button:hover {
    @apply cursor-pointer;
}


.button-gradient {
    background: linear-gradient(90deg, #cbc3fc, #8c3cdd);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    animation: gradient-x 3s ease infinite;
    transition: background 0.6s ease-in-out,
    background-position 0.6s ease-in-out,
    color 0.6s ease-in-out;
}


.button-gradient-hover {
    color: black;
    transition: background-color 3s ease;
}
.button-gradient-hover:hover {
    background:
            linear-gradient(90deg, #8c3cdd, #cbc3fc, #8c3cdd)
            100% 50% / 200% 200% no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-x 3s ease infinite;
}

.button-background-gradient {
    background:
            linear-gradient(90deg, #8c3cdd, #cbc3fc, #8c3cdd)
            100% 100% / 200% 200% no-repeat;
    animation: gradient-x 6s ease infinite;
}


.button-border-gradient {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 14px 34px;
    font-size: 20px;
    color: white;
    border-radius: 9999px;
    background: transparent;
    cursor: pointer;
    z-index: 0;
    border: none;
}

.button-border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px; /* толщина рамки */
    background: linear-gradient(45deg, #8c3cdd, #cbc3fc, #8c3cdd);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    pointer-events: none;
    z-index: -1;
}

/* ВНУТРЕННИЙ ЧЁРНЫЙ ФОН — бордер становится идеально ровным */
.button-border-gradient > span {
    background: #000;
    border-radius: inherit;
    padding: 12px 30px;
    display: inline-block;
}

/* Hover: анимированный градиент текста */
.button-border-gradient:hover > span {
    background: linear-gradient(90deg, #8c3cdd, #cbc3fc, #8c3cdd);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-x 3s ease infinite;
}


@keyframes gradient-x {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


#dashboard .swiper-slide{
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
    #dashboard .swiper-slide{
      transform: scaleY(0.9);
    }
    #dashboard .swiper-slide.swiper-slide-active{
        transform: scaleY(1);
    }
}

/*@media screen and (min-width: 1280px) {*/
/*    #dashboard .swiper-slide div{*/
/*       max-height: 870px;*/
/*    }*/
/*    #dashboard .swiper-slide.swiper-slide-active div{*/
/*       max-height: 977px;*/
/*    }*/
/*}*/
